@import "tailwindcss";

/* bg images */
@theme {
  --background-image-banner: url('./assets/banner.png');
  --background-image-bean: url('./assets/coffeebean.png');
}

/* container */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

/* fonts */
@theme{
  --font-playfair: Playfair Display, serif;
  --font-outfit: Outfit, sans-serif;
  --font-reggae: Reggae One, system-ui;
}

/* Global Dark Mode */
.dark {
  background-color: #000000;
  color: white;
}

/* Only affect text-level elements (not everything!) */
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark span,
.dark a,
.dark li,
.dark label,
.dark strong {
  color: #fff;
}

/* Inputs, borders */
.dark input,
.dark textarea,
.dark select {
  background-color: #111;
  color: white;
  border-color: #ffffff50;
}

/* Cards or containers */
.dark .card,
.dark .box,
.dark .section {
  background-color: #111;
  color: white;
}

/* Optional: Buttons */
.dark button {
  background-color: transparent;
  color: white;
  border-color: #ffffff50;
}

.dark .aboutDiv{
  background-color: #652901;
}
.dark .contactDiv{
  background-color: #652901;
}
.dark .cofeeCard {
  background-color: #652901;
}
.dark .revPg{
  background-color: #652901;
}
.dark .cofBeans{
  color: #30261C;
  border: #30261C;
}
.dark .favBtn{
  color: black;
}
.dark .cofBeansBtn{
  color: white;
  background-color: #652901;
}